%section
  #navigation
    = react_component 'Navigation', {username: cookies[:username],course_homepage_path: course_homepage_path, show_all_courses_path: show_all_courses_path}, :div
%section
  #header.head
    = react_component 'Header', {}, :div
%section
  #learn_courses
    = react_component 'Learn', {learn_courses: @learn_courses}, :div
%section
  #entertainment_courses
    = react_component 'Entertainment', {entertainment_courses: @entertainment_courses}, :div
%section
  #registed_courses
    = react_component 'Registed', {registed_courses: @registed_courses}, :div
